.itemContact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 408px;
    padding: 10px;
    gap: 10px;
    margin: 10px 0 0;
    border: 1px solid #1a1a1a;
    border-radius: 4px;
}

.buttonDelete {
    display: flex;
    width: 100px;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-top: 12px;
}

.nameContact,
.numberContact {
    margin: 0;
    display: flex;
    align-items: center;
}

.iconPeople,
.iconPhone {
    width: 16px;
    height: 16px;
    margin-right: 6px;
}

.contactInfo {
    display: flex;
    flex-direction: column;
}